h1{
    font-family: 'Londrina Solid', cursive;
}

body{
    font-family: 'Rubik', sans-serif;
    background-color: gray!important;
}

a{
    color: rgb(126, 33, 219);
}

a:hover{
    color: rgb(141, 15, 15);
}